@using Umbraco.Cms.Web.Common.PublishedModels;
@using BlissAcademy.Core.PublishedContent;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<HomePage>

@{
	Layout = "Master.cshtml";
}

		
		<!-- Jumbotron, w title -->
		<div class="jumbotron text-center jumbotron-fluid">
			<div class="container">
				<h1 class="display-1">@Model.Value("pageTitle")</h1>
				<p>And this is <span class="font-weight-bold">only</span> the beginning.</p>
			</div>
		</div>

		<!-- This is where we're going to render our content -->
		
		<div class="container">

			<div class="row section">
				<div class="col-md-12">
                    @Model.Value("bodyText")
				</div>				
			</div>

		</div>

	